openapi: 3.0.3
info:
  title: API Облачных серверов
  version: v1.7.6
servers:
- url: https://api.beget.com
security:
- bearerAuth: []
tags:
- name: BackupService
- name: ConfiguratorService
- name: ManageService
- name: MarketplaceService
- name: NetworkService
- name: SnapshotService
- name: SoftwareLicenseService
- name: SshKeyService
- name: StatisticService
paths:
  /v1/vps/archive/{id}:
    delete:
      operationId: ManageService_Unarchive
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_UnarchiveResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/backup:
    get:
      operationId: BackupService_GetAvailableCopies
      parameters:
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_GetAvailableCopiesResponse'
          description: OK
      tags:
      - BackupService
  /v1/vps/backup/orders:
    get:
      operationId: BackupService_GetOrders
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_GetOrdersResponse'
          description: OK
      tags:
      - BackupService
  /v1/vps/configuration:
    get:
      operationId: ManageService_GetAvailableConfiguration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetAvailableConfigurationResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/configurator/calculation:
    get:
      operationId: ConfiguratorService_GetCalculation
      parameters:
      - explode: true
        in: query
        name: params.cpu_count
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      - explode: true
        in: query
        name: params.disk_size
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      - explode: true
        in: query
        name: params.memory
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      - explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: vps_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: software_id
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      - explode: true
        in: query
        name: snapshot_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: image_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: configuration_group
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configurator_GetCalculationResponse'
          description: OK
      tags:
      - ConfiguratorService
  /v1/vps/configurator/info:
    get:
      operationId: ConfiguratorService_GetConfiguratorInfo
      parameters:
      - explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: configuration_group
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configurator_GetConfiguratorInfoResponse'
          description: OK
      tags:
      - ConfiguratorService
  /v1/vps/marketplace/software/list:
    get:
      operationId: MarketplaceService_GetSoftwareList
      parameters:
      - explode: true
        in: query
        name: category_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: display_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: is_pinned
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetSoftwareListResponse'
          description: OK
      tags:
      - MarketplaceService
  /v1/vps/marketplace/software/{name}/{version}:
    get:
      operationId: MarketplaceService_GetSoftwareInfo
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetSoftwareInfoResponse'
          description: OK
      tags:
      - MarketplaceService
  /v1/vps/network:
    get:
      operationId: NetworkService_GetNetworkInfo
      parameters:
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network_GetNetworkInfoResponse'
          description: OK
      tags:
      - NetworkService
    post:
      operationId: NetworkService_OrderIpAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network_OrderIpAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network_OrderIpAddressResponse'
          description: OK
      tags:
      - NetworkService
  /v1/vps/network/detach/{ip_address}:
    delete:
      operationId: ManageService_DetachIpAddress
      parameters:
      - explode: false
        in: path
        name: ip_address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_DetachIpAddressResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/network/{ip_address}:
    delete:
      operationId: NetworkService_RemoveIpAddress
      parameters:
      - explode: false
        in: path
        name: ip_address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network_RemoveIpAddressResponse'
          description: OK
      tags:
      - NetworkService
  /v1/vps/private-network:
    post:
      operationId: NetworkService_CreatePrivateNetwork
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network_CreatePrivateNetworkRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network_CreatePrivateNetworkResponse'
          description: OK
      tags:
      - NetworkService
  /v1/vps/private-network/{network_id}:
    delete:
      operationId: NetworkService_RemovePrivateNetwork
      parameters:
      - explode: false
        in: path
        name: network_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network_RemovePrivateNetworkResponse'
          description: OK
      tags:
      - NetworkService
  /v1/vps/private-network/{network_id}/suggested-address:
    post:
      operationId: NetworkService_SuggestPrivateAddress
      parameters:
      - explode: false
        in: path
        name: network_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Network_SuggestPrivateAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network_SuggestPrivateAddressResponse'
          description: OK
      tags:
      - NetworkService
  /v1/vps/region:
    get:
      operationId: ManageService_GetRegionList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetRegionListResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server:
    post:
      operationId: ManageService_CreateVps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_CreateVpsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_CreateVpsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/list:
    get:
      operationId: ManageService_GetList
      parameters:
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetListResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/statuses:
    get:
      operationId: ManageService_GetStatuses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetStatusesResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}:
    get:
      operationId: ManageService_GetInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetInfoResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/configuration:
    put:
      operationId: ManageService_ChangeConfiguration
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_ChangeConfigurationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_ChangeConfigurationResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/info:
    put:
      operationId: ManageService_UpdateInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_UpdateInfoRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_UpdateInfoResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/pin:
    put:
      operationId: ManageService_ChangePinned
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_ChangePinnedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_ChangePinnedResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/project:
    put:
      operationId: ManageService_BindProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_BindProjectRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_BindProjectResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/reboot:
    post:
      operationId: ManageService_RebootVps
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_RebootVpsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/reinstall:
    post:
      operationId: ManageService_Reinstall
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_ReinstallRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_ReinstallResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/remove:
    post:
      operationId: ManageService_RemoveVps
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_RemoveVpsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/rescue:
    delete:
      operationId: ManageService_StopRescue
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_StopRescueResponse'
          description: OK
      tags:
      - ManageService
    post:
      operationId: ManageService_StartRescue
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_StartRescueResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/reset:
    post:
      operationId: ManageService_ResetVps
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_ResetVpsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/start:
    post:
      operationId: ManageService_StartVps
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_StartVpsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/server/{id}/stop:
    post:
      operationId: ManageService_StopVps
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_StopVpsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/snapshot:
    get:
      operationId: SnapshotService_GetAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot_GetAllResponse'
          description: OK
      tags:
      - SnapshotService
    post:
      operationId: SnapshotService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Snapshot_CreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot_CreateResponse'
          description: OK
      tags:
      - SnapshotService
  /v1/vps/snapshot/calculator:
    post:
      operationId: SnapshotService_CreateCalculator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Snapshot_CreateCalculatorRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot_CreateCalculatorResponse'
          description: OK
      tags:
      - SnapshotService
  /v1/vps/snapshot/restore:
    get:
      operationId: SnapshotService_GetAllRestores
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot_GetAllRestoresResponse'
          description: OK
      tags:
      - SnapshotService
  /v1/vps/snapshot/{id}:
    delete:
      operationId: SnapshotService_Remove
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot_RemoveResponse'
          description: OK
      tags:
      - SnapshotService
    put:
      operationId: SnapshotService_Edit
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Snapshot_EditRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot_EditResponse'
          description: OK
      tags:
      - SnapshotService
  /v1/vps/snapshot/{id}/restore:
    post:
      operationId: SnapshotService_Restore
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Snapshot_RestoreRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot_RestoreResponse'
          description: OK
      tags:
      - SnapshotService
  /v1/vps/software/license:
    get:
      operationId: SoftwareLicenseService_GetLicenseInfo
      parameters:
      - explode: true
        in: query
        name: license_id
        required: false
        schema:
          format: uint32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareLicense_GetLicenseInfoResponse'
          description: OK
      tags:
      - SoftwareLicenseService
  /v1/vps/software/license/{vps_id}:
    patch:
      operationId: SoftwareLicenseService_ChangeLicensePlan
      parameters:
      - explode: false
        in: path
        name: vps_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SoftwareLicense_ChangeLicensePlanRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareLicense_ChangeLicensePlanResponse'
          description: OK
      tags:
      - SoftwareLicenseService
  /v1/vps/software/requirements:
    post:
      operationId: ManageService_CheckSoftwareRequirements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_CheckSoftwareRequirementsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_CheckSoftwareRequirementsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/sshKey:
    get:
      operationId: SshKeyService_GetAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKey_GetAllResponse'
          description: OK
      tags:
      - SshKeyService
    post:
      operationId: SshKeyService_Add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SshKey_AddRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKey_AddResponse'
          description: OK
      tags:
      - SshKeyService
  /v1/vps/sshKey/{id}:
    delete:
      operationId: SshKeyService_Remove
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uint32
          type: integer
        style: simple
      - explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKey_RemoveResponse'
          description: OK
      tags:
      - SshKeyService
    put:
      operationId: SshKeyService_Update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uint32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SshKey_UpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKey_UpdateResponse'
          description: OK
      tags:
      - SshKeyService
  /v1/vps/statistic/cpu-details/{id}:
    get:
      operationId: StatisticService_GetCpuDetails
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetCpuDetailsResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/statistic/cpu/{id}:
    get:
      operationId: StatisticService_GetCpu
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetCpuResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/statistic/disk-usage/{id}:
    get:
      operationId: StatisticService_GetDiskUsage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetDiskUsageResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/statistic/disk/{id}:
    get:
      operationId: StatisticService_GetDisk
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetDiskResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/statistic/load-average/{id}:
    get:
      operationId: StatisticService_GetLoadAverage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetLoadAverageResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/statistic/memory/{id}:
    get:
      operationId: StatisticService_GetMemory
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetMemoryResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/statistic/network/{id}:
    get:
      operationId: StatisticService_GetNetwork
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: period
        required: false
        schema:
          enum:
          - UNKNOWN
          - HOUR
          - DAY
          - WEEK
          - MONTH
          format: enum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetNetworkResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/statistic/processes/{id}:
    get:
      operationId: StatisticService_GetProcessList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic_GetProcessListResponse'
          description: OK
      tags:
      - StatisticService
  /v1/vps/subdomain/reserve:
    get:
      operationId: ManageService_ReserveVpsSubdomain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_ReserveVpsSubdomainResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/backup/{copy_id}:
    get:
      operationId: BackupService_GetBackupFileList
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: copy_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: path
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_GetBackupFileListResponse'
          description: OK
      tags:
      - BackupService
  /v1/vps/{id}/backup/{copy_id}/file:
    post:
      operationId: BackupService_RestoreFile
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: copy_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backup_RestoreFileRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_RestoreFileResponse'
          description: OK
      tags:
      - BackupService
  /v1/vps/{id}/backup/{copy_id}/server:
    post:
      operationId: BackupService_RestoreServer
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: copy_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Backup_RestoreServerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_RestoreServerResponse'
          description: OK
      tags:
      - BackupService
  /v1/vps/{id}/fm:
    post:
      operationId: ManageService_GetFileManagerSettings
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetFileManagerSettingsResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/history:
    get:
      operationId: ManageService_GetHistory
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetHistoryResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/network/{ip_address}:
    post:
      operationId: ManageService_AttachIpAddress
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: ip_address
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_AttachIpAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_AttachIpAddressResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/password:
    put:
      operationId: ManageService_ResetPassword
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_ResetPasswordResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/private-network/{network_id}:
    delete:
      operationId: ManageService_DetachFromPrivateNetwork
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: network_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_DetachFromPrivateNetworkResponse'
          description: OK
      tags:
      - ManageService
    post:
      operationId: ManageService_AttachToPrivateNetwork
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: network_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_AttachToPrivateNetworkRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_AttachToPrivateNetworkResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/software:
    get:
      operationId: ManageService_GetInstalledSoftware
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_GetInstalledSoftwareResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/software/post-install-alert:
    delete:
      operationId: ManageService_DisablePostInstallAlert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_DisablePostInstallAlertResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/ssh/access:
    put:
      operationId: ManageService_ChangeSshAccess
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Manage_ChangeSshAccessRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_ChangeSshAccessResponse'
          description: OK
      tags:
      - ManageService
  /v1/vps/{id}/sshKey/{ssh_key_id}:
    delete:
      operationId: ManageService_DetachSshKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: ssh_key_id
        required: true
        schema:
          format: uint32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_DetachSshKeyResponse'
          description: OK
      tags:
      - ManageService
    post:
      operationId: ManageService_AttachSshKey
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: ssh_key_id
        required: true
        schema:
          format: uint32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manage_AttachSshKeyResponse'
          description: OK
      tags:
      - ManageService
components:
  schemas:
    Backup_GetAvailableCopiesResponse:
      example:
        copy:
        - date: date
          vps_name: vps_name
          size: size
          configuration:
            memory: 1
            disk_size: 6
            cpu_count: 0
          installed_software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          vps_id: vps_id
          id: id
          region: region
        - date: date
          vps_name: vps_name
          size: size
          configuration:
            memory: 1
            disk_size: 6
            cpu_count: 0
          installed_software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          vps_id: vps_id
          id: id
          region: region
      properties:
        copy:
          items:
            $ref: '#/components/schemas/Structures_CopyInfo'
          type: array
      type: object
    Backup_GetBackupFileListResponse:
      example:
        file:
        - ext: ext
          owner: owner
          mode: mode
          path: path
          size: size
          is_link: true
          is_dir: true
          name: name
          mtime_str: mtime_str
          mtime: 0.8008281904610115
          group: group
        - ext: ext
          owner: owner
          mode: mode
          path: path
          size: size
          is_link: true
          is_dir: true
          name: name
          mtime_str: mtime_str
          mtime: 0.8008281904610115
          group: group
      properties:
        file:
          items:
            $ref: '#/components/schemas/Structures_FileInfo'
          type: array
      type: object
    Backup_GetOrdersResponse:
      example:
        order:
        - vps_name: vps_name
          path:
          - path
          - path
          copy_info:
            date: date
            vps_name: vps_name
            size: size
            configuration:
              memory: 1
              disk_size: 6
              cpu_count: 0
            installed_software:
              metadata:
                is_new: true
                icon: icon
                logo: logo
                logo2x: logo2x
                weight: 3.6160767
                secondary_color: secondary_color
                icon2x: icon2x
                primary_color: primary_color
                is_pinned: true
              address: address
              description_en: description_en
              description: description
              display_name: display_name
              version: version
              license:
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              name: name
              field_value:
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              category:
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              post_install_alert: true
              slug: slug
              status: PENDING
            vps_id: vps_id
            id: id
            region: region
          date_create: date_create
          error_details:
            file_error:
              error:
                key: INTERNAL_ERROR
          affect_live: true
          date_complete: date_complete
          vps_id: vps_id
          id: id
          type: DOWNLOAD
          status: PROCESSING
          target: target
        - vps_name: vps_name
          path:
          - path
          - path
          copy_info:
            date: date
            vps_name: vps_name
            size: size
            configuration:
              memory: 1
              disk_size: 6
              cpu_count: 0
            installed_software:
              metadata:
                is_new: true
                icon: icon
                logo: logo
                logo2x: logo2x
                weight: 3.6160767
                secondary_color: secondary_color
                icon2x: icon2x
                primary_color: primary_color
                is_pinned: true
              address: address
              description_en: description_en
              description: description
              display_name: display_name
              version: version
              license:
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              name: name
              field_value:
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              category:
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              post_install_alert: true
              slug: slug
              status: PENDING
            vps_id: vps_id
            id: id
            region: region
          date_create: date_create
          error_details:
            file_error:
              error:
                key: INTERNAL_ERROR
          affect_live: true
          date_complete: date_complete
          vps_id: vps_id
          id: id
          type: DOWNLOAD
          status: PROCESSING
          target: target
      properties:
        order:
          items:
            $ref: '#/components/schemas/Structures_OrderInfo'
          type: array
      type: object
    Backup_RestoreFileRequest:
      properties:
        id:
          type: string
        copy_id:
          type: string
        path:
          items:
            type: string
          type: array
        affect_live:
          type: boolean
        target:
          type: string
      type: object
    Backup_RestoreFileResponse:
      example:
        error:
          code: INTERNAL_ERROR
          message: message
        order:
          vps_name: vps_name
          path:
          - path
          - path
          copy_info:
            date: date
            vps_name: vps_name
            size: size
            configuration:
              memory: 1
              disk_size: 6
              cpu_count: 0
            installed_software:
              metadata:
                is_new: true
                icon: icon
                logo: logo
                logo2x: logo2x
                weight: 3.6160767
                secondary_color: secondary_color
                icon2x: icon2x
                primary_color: primary_color
                is_pinned: true
              address: address
              description_en: description_en
              description: description
              display_name: display_name
              version: version
              license:
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              name: name
              field_value:
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              category:
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              post_install_alert: true
              slug: slug
              status: PENDING
            vps_id: vps_id
            id: id
            region: region
          date_create: date_create
          error_details:
            file_error:
              error:
                key: INTERNAL_ERROR
          affect_live: true
          date_complete: date_complete
          vps_id: vps_id
          id: id
          type: DOWNLOAD
          status: PROCESSING
          target: target
      properties:
        order:
          $ref: '#/components/schemas/Structures_OrderInfo'
        error:
          $ref: '#/components/schemas/Backup_RestoreFileResponse_Error'
      type: object
    Backup_RestoreFileResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          - INVALID_MODE
          - INVALID_PATH_LIST
          - ALREADY_RESTORING
          - INVALID_TARGET
          - REGION_MISMATCH
          format: enum
          type: string
        message:
          type: string
      type: object
    Backup_RestoreServerRequest:
      properties:
        id:
          type: string
        copy_id:
          type: string
      type: object
    Backup_RestoreServerResponse:
      example:
        error:
          code: INTERNAL_ERROR
          message: message
        order:
          vps_name: vps_name
          path:
          - path
          - path
          copy_info:
            date: date
            vps_name: vps_name
            size: size
            configuration:
              memory: 1
              disk_size: 6
              cpu_count: 0
            installed_software:
              metadata:
                is_new: true
                icon: icon
                logo: logo
                logo2x: logo2x
                weight: 3.6160767
                secondary_color: secondary_color
                icon2x: icon2x
                primary_color: primary_color
                is_pinned: true
              address: address
              description_en: description_en
              description: description
              display_name: display_name
              version: version
              license:
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              - additional_info: additional_info
                additional_info_en: additional_info_en
                id: 2
                type: type
                display_name: display_name
                plan: plan
                primary: true
                billing:
                  daily:
                    price_month: 7
                    price_day: 4.145608029883936
                  monthly:
                    price_month: 1
              name: name
              field_value:
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              - label_ru: label_ru
                variable: variable
                label_en: label_en
                type: UNKNOWN
                value: value
              category:
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              - is_main: true
                icon_svg: icon_svg
                name: name
                sys_name: sys_name
                name_en: name_en
              post_install_alert: true
              slug: slug
              status: PENDING
            vps_id: vps_id
            id: id
            region: region
          date_create: date_create
          error_details:
            file_error:
              error:
                key: INTERNAL_ERROR
          affect_live: true
          date_complete: date_complete
          vps_id: vps_id
          id: id
          type: DOWNLOAD
          status: PROCESSING
          target: target
      properties:
        order:
          $ref: '#/components/schemas/Structures_OrderInfo'
        error:
          $ref: '#/components/schemas/Backup_RestoreServerResponse_Error'
      type: object
    Backup_RestoreServerResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          - ALREADY_RESTORING
          - CONFIGURATION_NOT_ENOUGH
          - REGION_MISMATCH
          format: enum
          type: string
        message:
          type: string
      type: object
    Configurator_ConfiguratorSettings:
      example:
        memory_settings:
          available_range:
            min: 0
            max: 6
          range:
            min: 0
            max: 6
          step: 5
        cpu_settings:
          available_range:
            min: 0
            max: 6
          range:
            min: 0
            max: 6
          step: 1
        disk_settings:
          available_range:
            min: 0
            max: 6
          range:
            min: 0
            max: 6
          step: 5
      properties:
        cpu_settings:
          $ref: '#/components/schemas/Configurator_CpuSettings'
        disk_settings:
          $ref: '#/components/schemas/Configurator_DiskSettings'
        memory_settings:
          $ref: '#/components/schemas/Configurator_MemorySettings'
      type: object
    Configurator_CpuSettings:
      example:
        available_range:
          min: 0
          max: 6
        range:
          min: 0
          max: 6
        step: 1
      properties:
        range:
          $ref: '#/components/schemas/Configurator_Range'
        available_range:
          $ref: '#/components/schemas/Configurator_Range'
        step:
          format: uint32
          type: integer
      type: object
    Configurator_DiskSettings:
      example:
        available_range:
          min: 0
          max: 6
        range:
          min: 0
          max: 6
        step: 5
      properties:
        range:
          $ref: '#/components/schemas/Configurator_Range'
        available_range:
          $ref: '#/components/schemas/Configurator_Range'
        step:
          format: uint32
          type: integer
      type: object
    Configurator_GetCalculationResponse:
      example:
        success:
          settings:
            memory_settings:
              available_range:
                min: 0
                max: 6
              range:
                min: 0
                max: 6
              step: 5
            cpu_settings:
              available_range:
                min: 0
                max: 6
              range:
                min: 0
                max: 6
              step: 1
            disk_settings:
              available_range:
                min: 0
                max: 6
              range:
                min: 0
                max: 6
              step: 5
          price_month: 2.027123023002322
          price_day: 3.616076749251911
          params:
            memory: 9
            disk_size: 7
            cpu_count: 2
        error:
          code: TEMPORARILY_UNAVAILABLE
          message: message
      properties:
        success:
          $ref: '#/components/schemas/Configurator_GetCalculationResponse_Success'
        error:
          $ref: '#/components/schemas/Configurator_GetCalculationResponse_Error'
      type: object
    Configurator_GetCalculationResponse_Error:
      example:
        code: TEMPORARILY_UNAVAILABLE
        message: message
      properties:
        code:
          enum:
          - TEMPORARILY_UNAVAILABLE
          format: enum
          type: string
        message:
          type: string
      type: object
    Configurator_GetCalculationResponse_Success:
      example:
        settings:
          memory_settings:
            available_range:
              min: 0
              max: 6
            range:
              min: 0
              max: 6
            step: 5
          cpu_settings:
            available_range:
              min: 0
              max: 6
            range:
              min: 0
              max: 6
            step: 1
          disk_settings:
            available_range:
              min: 0
              max: 6
            range:
              min: 0
              max: 6
            step: 5
        price_month: 2.027123023002322
        price_day: 3.616076749251911
        params:
          memory: 9
          disk_size: 7
          cpu_count: 2
      properties:
        settings:
          $ref: '#/components/schemas/Configurator_ConfiguratorSettings'
        params:
          $ref: '#/components/schemas/Structures_ConfigurationParams'
        price_day:
          format: double
          type: number
        price_month:
          format: double
          type: number
      type: object
    Configurator_GetConfiguratorInfoResponse:
      example:
        settings:
          memory_settings:
            available_range:
              min: 0
              max: 6
            range:
              min: 0
              max: 6
            step: 5
          cpu_settings:
            available_range:
              min: 0
              max: 6
            range:
              min: 0
              max: 6
            step: 1
          disk_settings:
            available_range:
              min: 0
              max: 6
            range:
              min: 0
              max: 6
            step: 5
        is_available: true
      properties:
        settings:
          $ref: '#/components/schemas/Configurator_ConfiguratorSettings'
        is_available:
          type: boolean
      type: object
    Configurator_MemorySettings:
      example:
        available_range:
          min: 0
          max: 6
        range:
          min: 0
          max: 6
        step: 5
      properties:
        range:
          $ref: '#/components/schemas/Configurator_Range'
        available_range:
          $ref: '#/components/schemas/Configurator_Range'
        step:
          format: uint32
          type: integer
      type: object
    Configurator_Range:
      example:
        min: 0
        max: 6
      properties:
        min:
          format: uint32
          type: integer
        max:
          format: uint32
          type: integer
      type: object
    Manage_AttachIpAddressRequest:
      properties:
        id:
          type: string
        ip_address:
          type: string
      type: object
    Manage_AttachIpAddressResponse:
      example:
        vps:
          ui_pin_changed_at: ui_pin_changed_at
          software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          configuration:
            memory: 1
            price_month: 2.3021358869347655
            bandwidth_public: 5
            custom: true
            available: true
            disk_size: 6
            cpu_count: 0
            price_day: 5.637376656633329
            name: name
            id: id
            region: region
            configurable: true
            group: group
          snapshot_id: snapshot_id
          description: description
          restoring: true
          additional_ip_address:
          - additional_ip_address
          - additional_ip_address
          unarchiving: true
          ui_pinned: true
          archived: true
          software_id: software_id
          hostname: hostname
          disk_used: disk_used
          unblocking: true
          project_id: project_id
          software_domain: software_domain
          id: id
          manage_enabled: true
          slug: slug
          migrating: true
          host_unavailable: true
          has_password: true
          technical_domain: technical_domain
          ip_address: ip_address
          display_name: display_name
          rescue_mode: true
          disk_left: disk_left
          beget_ssh_access_allowed: true
          ssh_keys:
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          private_network:
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          date_create: date_create
          region: region
          image_id: image_id
          link_slug: link_slug
          status: UNKNOWN
        error:
          code: INTERNAL_ERROR
          message: message
      properties:
        vps:
          $ref: '#/components/schemas/Manage_VpsInfo'
        error:
          $ref: '#/components/schemas/Manage_AttachIpAddressResponse_Error'
      type: object
    Manage_AttachIpAddressResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          - GUEST_OS_ADD_IP_ADDRESS_FAILED
          - REGION_MISMATCH
          format: enum
          type: string
        message:
          type: string
      type: object
    Manage_AttachSshKeyResponse:
      example:
        vps:
          ui_pin_changed_at: ui_pin_changed_at
          software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          configuration:
            memory: 1
            price_month: 2.3021358869347655
            bandwidth_public: 5
            custom: true
            available: true
            disk_size: 6
            cpu_count: 0
            price_day: 5.637376656633329
            name: name
            id: id
            region: region
            configurable: true
            group: group
          snapshot_id: snapshot_id
          description: description
          restoring: true
          additional_ip_address:
          - additional_ip_address
          - additional_ip_address
          unarchiving: true
          ui_pinned: true
          archived: true
          software_id: software_id
          hostname: hostname
          disk_used: disk_used
          unblocking: true
          project_id: project_id
          software_domain: software_domain
          id: id
          manage_enabled: true
          slug: slug
          migrating: true
          host_unavailable: true
          has_password: true
          technical_domain: technical_domain
          ip_address: ip_address
          display_name: display_name
          rescue_mode: true
          disk_left: disk_left
          beget_ssh_access_allowed: true
          ssh_keys:
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          private_network:
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          date_create: date_create
          region: region
          image_id: image_id
          link_slug: link_slug
          status: UNKNOWN
        error:
          code: INTERNAL_ERROR
          message: message
      properties:
        vps:
          $ref: '#/components/schemas/Manage_VpsInfo'
        error:
          $ref: '#/components/schemas/Manage_AttachSshKeyResponse_Error'
      type: object
    Manage_AttachSshKeyResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          - SERVICE_DISABLED
          - GUEST_OS_KEY_MANAGE_FAILED
          format: enum
          type: string
        message:
          type: string
      type: object
    Manage_AttachToPrivateNetworkRequest:
      properties:
        id:
          type: string
        network_id:
          type: string
        address:
          type: string
      type: object
    Manage_AttachToPrivateNetworkResponse:
      example:
        vps:
          ui_pin_changed_at: ui_pin_changed_at
          software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          configuration:
            memory: 1
            price_month: 2.3021358869347655
            bandwidth_public: 5
            custom: true
            available: true
            disk_size: 6
            cpu_count: 0
            price_day: 5.637376656633329
            name: name
            id: id
            region: region
            configurable: true
            group: group
          snapshot_id: snapshot_id
          description: description
          restoring: true
          additional_ip_address:
          - additional_ip_address
          - additional_ip_address
          unarchiving: true
          ui_pinned: true
          archived: true
          software_id: software_id
          hostname: hostname
          disk_used: disk_used
          unblocking: true
          project_id: project_id
          software_domain: software_domain
          id: id
          manage_enabled: true
          slug: slug
          migrating: true
          host_unavailable: true
          has_password: true
          technical_domain: technical_domain
          ip_address: ip_address
          display_name: display_name
          rescue_mode: true
          disk_left: disk_left
          beget_ssh_access_allowed: true
          ssh_keys:
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          private_network:
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          date_create: date_create
          region: region
          image_id: image_id
          link_slug: link_slug
          status: UNKNOWN
        error:
          code: INTERNAL_ERROR
          message: message
      properties:
        vps:
          $ref: '#/components/schemas/Manage_VpsInfo'
        error:
          $ref: '#/components/schemas/Manage_AttachToPrivateNetworkResponse_Error'
      type: object
    Manage_AttachToPrivateNetworkResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          - GUEST_OS_ERROR
          - NO_AVAILABLE_ADDRESSES
          - INVALID_ADDRESS
          - ADDRESS_SUBNET_MISMATCH
          - ADDRESS_ALREADY_RESERVED
          - ADDRESS_UNAVAILABLE
          format: enum
          type: string
        message:
          type: string
      type: object
    Manage_BindProjectRequest:
      properties:
        id:
          type: string
        project_id:
          type: string
      type: object
    Manage_BindProjectResponse:
      example:
        vps:
          ui_pin_changed_at: ui_pin_changed_at
          software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          configuration:
            memory: 1
            price_month: 2.3021358869347655
            bandwidth_public: 5
            custom: true
            available: true
            disk_size: 6
            cpu_count: 0
            price_day: 5.637376656633329
            name: name
            id: id
            region: region
            configurable: true
            group: group
          snapshot_id: snapshot_id
          description: description
          restoring: true
          additional_ip_address:
          - additional_ip_address
          - additional_ip_address
          unarchiving: true
          ui_pinned: true
          archived: true
          software_id: software_id
          hostname: hostname
          disk_used: disk_used
          unblocking: true
          project_id: project_id
          software_domain: software_domain
          id: id
          manage_enabled: true
          slug: slug
          migrating: true
          host_unavailable: true
          has_password: true
          technical_domain: technical_domain
          ip_address: ip_address
          display_name: display_name
          rescue_mode: true
          disk_left: disk_left
          beget_ssh_access_allowed: true
          ssh_keys:
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          private_network:
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          date_create: date_create
          region: region
          image_id: image_id
          link_slug: link_slug
          status: UNKNOWN
        error:
          code: INTERNAL_ERROR
          message: message
      properties:
        vps:
          $ref: '#/components/schemas/Manage_VpsInfo'
        error:
          $ref: '#/components/schemas/Manage_BindProjectResponse_Error'
      type: object
    Manage_BindProjectResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          - SERVICE_DISABLED
          - PROJECT_NOT_FOUND
          format: enum
          type: string
        message:
          type: string
      type: object
    Manage_ChangeConfigurationRequest:
      properties:
        id:
          type: string
        configuration_id:
          type: string
        configuration_params:
          $ref: '#/components/schemas/Structures_ConfigurationParams'
      type: object
    Manage_ChangeConfigurationResponse:
      example:
        vps:
          ui_pin_changed_at: ui_pin_changed_at
          software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          configuration:
            memory: 1
            price_month: 2.3021358869347655
            bandwidth_public: 5
            custom: true
            available: true
            disk_size: 6
            cpu_count: 0
            price_day: 5.637376656633329
            name: name
            id: id
            region: region
            configurable: true
            group: group
          snapshot_id: snapshot_id
          description: description
          restoring: true
          additional_ip_address:
          - additional_ip_address
          - additional_ip_address
          unarchiving: true
          ui_pinned: true
          archived: true
          software_id: software_id
          hostname: hostname
          disk_used: disk_used
          unblocking: true
          project_id: project_id
          software_domain: software_domain
          id: id
          manage_enabled: true
          slug: slug
          migrating: true
          host_unavailable: true
          has_password: true
          technical_domain: technical_domain
          ip_address: ip_address
          display_name: display_name
          rescue_mode: true
          disk_left: disk_left
          beget_ssh_access_allowed: true
          ssh_keys:
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          private_network:
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          date_create: date_create
          region: region
          image_id: image_id
          link_slug: link_slug
          status: UNKNOWN
        error:
          code: INTERNAL_ERROR
          message: message
      properties:
        vps:
          $ref: '#/components/schemas/Manage_VpsInfo'
        error:
          $ref: '#/components/schemas/Manage_ChangeConfigurationResponse_Error'
      type: object
    Manage_ChangeConfigurationResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          - INVALID_STATE
          - SERVICE_DISABLED
          - INSUFFICIENT_FUNDS
          - INVALID_CONFIGURATION
          - TEMPORARILY_UNAVAILABLE
          format: enum
          type: string
        message:
          type: string
      type: object
    Manage_ChangePinnedRequest:
      properties:
        id:
          type: string
        ui_pinned:
          type: boolean
      type: object
    Manage_ChangePinnedResponse:
      example:
        vps:
          ui_pin_changed_at: ui_pin_changed_at
          software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            category:
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            - is_main: true
              icon_svg: icon_svg
              name: name
              sys_name: sys_name
              name_en: name_en
            post_install_alert: true
            slug: slug
            status: PENDING
          configuration:
            memory: 1
            price_month: 2.3021358869347655
            bandwidth_public: 5
            custom: true
            available: true
            disk_size: 6
            cpu_count: 0
            price_day: 5.637376656633329
            name: name
            id: id
            region: region
            configurable: true
            group: group
          snapshot_id: snapshot_id
          description: description
          restoring: true
          additional_ip_address:
          - additional_ip_address
          - additional_ip_address
          unarchiving: true
          ui_pinned: true
          archived: true
          software_id: software_id
          hostname: hostname
          disk_used: disk_used
          unblocking: true
          project_id: project_id
          software_domain: software_domain
          id: id
          manage_enabled: true
          slug: slug
          migrating: true
          host_unavailable: true
          has_password: true
          technical_domain: technical_domain
          ip_address: ip_address
          display_name: display_name
          rescue_mode: true
          disk_left: disk_left
          beget_ssh_access_allowed: true
          ssh_keys:
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          - name: name
            fingerprint: fingerprint
            vps_id:
            - vps_id
            - vps_id
            id: 7
          private_network:
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          - ip:
            - ip
            - ip
            network:
              subnet: subnet
              id: id
              region: region
              mask: 9
          date_create: date_create
          region: region
          image_id: image_id
          link_slug: link_slug
          status: UNKNOWN
        error:
          code: INTERNAL_ERROR
          message: message
      properties:
        vps:
          $ref: '#/components/schemas/Manage_VpsInfo'
        error:
          $ref: '#/components/schemas/Manage_ChangePinnedResponse_Error'
      type: object
    Manage_ChangePinnedResponse_Error:
      example:
        code: INTERNAL_ERROR
        message: message
      properties:
        code:
          enum:
          - INTERNAL_ERROR
          format: enum
          type: string
        message:
          type: string
      type: object
    Manage_ChangeSshAccessRequest:
      properties:
        id:
          type: string
        beget_ssh_access_allowed:
          type: boolean
      type: object
    Manage_ChangeSshAccessResponse:
      example:
        vps:
          ui_pin_changed_at: ui_pin_changed_at
          software:
            metadata:
              is_new: true
              icon: icon
              logo: logo
              logo2x: logo2x
              weight: 3.6160767
              secondary_color: secondary_color
              icon2x: icon2x
              primary_color: primary_color
              is_pinned: true
            address: address
            description_en: description_en
            description: description
            display_name: display_name
            version: version
            license:
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            - additional_info: additional_info
              additional_info_en: additional_info_en
              id: 2
              type: type
              display_name: display_name
              plan: plan
              primary: true
              billing:
                daily:
                  price_month: 7
                  price_day: 4.145608029883936
                monthly:
                  price_month: 1
            name: name
            field_value:
            - label_ru: label_ru
              variable: variable
              label_en: label_en
              type: UNKNOWN
              value: value
            - label_ru: label_ru
              variable: variable
[...]
